 <!DOCTYPE html>
<html lang="en">
   <head>
      <title>Calorie Queen</title>
      <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
      <link rel="stylesheet" href="/background.css">
      <link rel="stylesheet" href="/style.css">

   </head>
   <body class="container">
      <header>
         <h1 class="indexPage">
            Calorie Queen
         </h1>
        
      </header>
      <main>
        <div class="columns is-centered">
            <div class="column is-three-fifths">
               <div class="card has-text-centered is-wide">
                  <div class="card-content centered-vert">
                    <div>
                    <div class="description" >Register as: <span id="username"></span>
                        or reroll
                        <button class="button" id="change-username"><i class="fas fa-sync-alt fa-xs"></i></button>
                      </div>
                     <footer class="card-footer">
                        <button class="button is-primary card-footer-item index-btn" id="user-link-btn">
                        Register
                        </button>
                     </footer>
                      </div>
                  </div>
                 </div>
               </div>
            </div>
        <div class="columns is-centered">
            <div class="column is-three-fifths">
               <div class="card has-text-centered is-wide">
                  <div class="card-content centered-vert">
                    <div>
                     <p class="description"> Check out an example account's dashboard! </p>
                     <footer class="card-footer">
                        <button class="button is-primary card-footer-item index-btn" id="demo-btn">
                        View Demo
                        </button>
                     </footer>
                 </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </body>
 <script src="/index.js" defer></script>
</html>
